
body {
  margin: 0;
}
#root {
  padding: 0;
}
/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
*/
.my-pills .nav-link {
  background-color: #f8f9fa;
  color: #333;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.my-pills .nav-link.active {
  background-color: rgb(33, 37, 41) !important;
  color: #fff;
}

.my-pills .nav-link:hover {
  background-color: rgb(33, 37, 41) !important;
  color: #fff;
}
.cards-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.card-left{
  height: min-content;
  width: 700px;
  z-index: 1;
   background-color: rgb(33, 37, 41) !important;
}
.card-text-left{
  color: white !important;
}
.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
   position: relative; 
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 20px rgba(0,0,0,0.2);
  z-index: 10; 
}

.card-right{
  height: min-content;
  width: 600px;
  margin-left: -100px;
  z-index: 5;
}
.map iframe {
  border-radius: 12px;
}

